/** @format */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  font-weight: normal;
  color: #ffffff;
  background-image: linear-gradient(to right top,
      #060606,
      #050504,
      #030303,
      #020201,
      #000000);
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  flex-shrink: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

.container {
  width: 130rem;
  margin: 0 auto;
}

.button {
  border-radius: 5rem;
  padding: 1rem 3rem;
  color: #ffffff;
}

.header {
  padding-top: 4rem;
  padding-right: 11rem;
  padding-bottom: 4rem;
  padding-left: 8rem;
}

.header__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  display: flex;
  align-items: center;
}

.header__nav a:not(:last-child) {
  margin-right: 7.1rem;
}

.header__nav a {
  font-size: 1.6rem;
}

.header__logo {
  display: block;
  width: 4rem;
  height: 4rem;
}

.header__button {
  margin-left: 55.3rem;
  background: linear-gradient(142deg, #c89afc 0%, #7c6afa 100%);
  font-size: 1.6rem;
}

.main-display__header {
  max-width: 76rem;
  font: 700 6.4rem / 1.4 "Roboto", sans-serif;

}